<% dados.forEach(function(row) { %>
    <% if (row.id % 2 === 0) { %>
      <div id="posts">
        <div class="titlePost">
          <p><%= row.titulo %></p>
        </div>
        <div class="textPost">
          <p><%- row.postagem %></p>
          <div class="date">
            <% console.log(`mypost: ${row.id}`) %>
            <p>Autor: <%= row.nome %> id: <% row.id %><br><%= row.data %></p>
            <a class="btn btn-danger" href="/mypost/<%= row.id %>">DELETE</a> 
          </div>
        </div>
      </div>
      <br>
    <% } else  { %>
      <div id="posts" class="right">
        <div class="titlePost">
          <p><%= row.titulo %></p>
        </div>
        <div class="textPost">
          <p><%= row.postagem %></p>
          <div class="date">
            <% console.log(`mypost: ${row.id}`) %>
            <p>Autor: <%= row.nome %> id: <% row.id %><br><%= row.data %></p>
            <a class="btn btn-danger" href="/blog/<%= row.id %>">DELETE</a> 
          </div>
        </div>
      </div><br>
    </div><br>
    <% } %>
  <% }); %>